@import "./mixins";

// Functional classes
.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.align {
  &-center {
    align-items: center;
  }
}

.input {
  @include rounded(3px);
  width: 15rem;

  font-size: 1rem;
  background-color: $color--grey-100;
  text-align: center;
  padding: 0.7rem 1rem;
}

.form {
  width: 23rem;
  min-height: min-content;
  padding: 1rem;
  margin: 2rem;

  text-align: center;
  background-color: $color--light-100;

  &-field {
    @include rounded(6px);

    padding: 1rem;
    border: $color--grey-100 1px solid;
  }

  * {
    margin: 0.5rem 0.25rem;
  }
}

.rounded {
  @include rounded(15px);
}

// Specific
.radio-group {
  font-size: 1rem;
  align-items: center;
}
