@import "./mixins";

// Functional classes
.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
}

.align {
  &-center {
    align-items: center;
  }
}

.input {
  @include rounded(3px);

  background-color: $color--grey-100;
  margin: 0.5rem;
  text-align: center;
  padding: 0.7rem 1rem;
}

.form {
  &-login {
    @include size(25rem, 15rem);

    text-align: center;
    background-color: $color--light-100;
  }
}

.rounded {
  @include rounded(15px);
}
