$color--dark-900: #000;
$color--light-100: #fcfcfc;
$color--light: #ffffff;
$color--grey-700: #353535;
$color--grey-500: #4d4d4d;
$color--grey-300: #a0a0a0;
$color--grey-300: #dddddd;
$color--grey-100: #f0f0f0;

$color-blue: #01baef;
$color-blue-green: #0cbaba;
$color-violet-700: #380036;
$color-violet-900: #26081c;
