// Mixins
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin rounded($value) {
  border: none;
  border-radius: $value;
}

@mixin gradient($firstColor, $secondColor) {
  background-image: linear-gradient(
    174.2deg,
    $firstColor 7.1%,
    $secondColor 67.4%
  );
}

@mixin gradientText($firstColor, $secondColor) {
  background: linear-gradient(to right, $firstColor, $secondColor);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bg_pattern() {
  background-image: linear-gradient(to right, $color--blue, $color--blue-green);
}
