@import "colors", "fonts", "classes", "mixins";

html {
  color: $color--grey-700;
}

body {
  @include bg_pattern();

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  margin: 3rem auto;
}

textarea {
  resize: vertical;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vh;
  padding: 1rem 2rem;
  background-color: $color--light-100;

  * {
    text-decoration: none;
    @include gradientText($color--blue, $color--blue-green);
  }
}

#map {
  width: 25rem;
  height: 25rem;
}

@media (min-width: 768px) {
  body {
    width: 40rem;
  }

  #map {
    width: 35rem;
    height: 35rem;
  }
}
